.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@keyframes loading-fast1 {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200%);
  }
}

@keyframes loading-fast2 {
  0% {
    transform: translateX(-100%);
  }
  15% {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(200%);
  }
}
