.progress-bar {
  width: 100%;
  height: 6px;
  background-color: rgba(19, 106, 228, 0.3);
  overflow: hidden;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: 1s height ease;

  &.hide-progress {
    height: 0px;
  }

  &::before {
    content: "";
    position: absolute;
    transform: translateX(-100%);
    width: 62.5%;
    height: 100%;
    background-color: #136ae4;
    animation-name: loading-fast1;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }

  &::after {
    content: "";
    position: absolute;
    transform: translateX(-100%);
    width: 62.5%;
    height: 100%;
    background-color: #136ae4;
    animation-name: loading-fast2;
    animation-duration: 2s;
    animation-delay: 1.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }
}
